{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}

Categories
{% endblock title %}
{% block content %}
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}
{% if is_subscriber %}
<p class="text-center"><a href="{% url 'category_un_sub' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a>
</p>
{% endif %}
{% if category_news_list %}
<table>
    <tr>
        <td><b>Категории</b></td>
        <td><b>Заголовок</b></td>
        <td><b>Публикация</b></td>
        <td><b>Дата публикации</b></td>
    </tr>

    {% for post in category_news_list %}
    <tr>
        <td>
            {% for category in post.category.all %}
            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
        </td>
        <td>{{ post.title}}</td>
        <td>{{ post.text|truncatewords:40|censor }}</td>
        <td>{{ post.time_in|date:'d M Y' }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% endblock%}
